Pearl Island Station

Pearl Island is the ideal spot to measure the wind speed for water users as it is undisturbed in all directions and in the Geat Sound which is where alot of our wind sports happen.  It is by coutest of the Bermuda Audbon Society that we have been given permission to house our station there.

The station is built around a Gill Windsonic 75 ultrasonic anemomneter.  A state of the art sensor used in airports, and marine facilities around the globe.  It boasts an accuracy to within 0.5knot and is rated for wind speeds from 0- 145 knots.



Crescent Station


An autonomous weather station and AIS beacon, managed by Bermuda Maritime Operations Center, Department of Marine and Ports Services. It is securely affixed to a channel marker on the North Channel, approximately 4 miles North of Dockyard. This location marks a critical point where the channel approach follows a graceful "crescent" shaped bend, leading into a chute in the reef, measuring just about 200 meters wide.

Imagine piloting a cruise ship, 330 meters long and 47 meters wide, with an exposed windage area of approximately 25,000 square meters. At this precise bend, knowing the current wind conditions becomes indispensable!


NMB

National Museum Bermuda is a station run by the Bermuda Weather Service on the roof of the Commissioners House at the tip of Dockyard.

