{% extends "base.html" %}
{% block content %}
<style>
  body {
    background-color: rgb(23, 255, 255)!important;
  }

  

  .periodMenu {
    padding-top: .6pc;
    color:  #0c20d3;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }

  .windTable table{
    margin-top: .9pc;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    
    color:  #0c20d3
  }


  .windTable th{
    padding: .75pc;
    text-align: center;
    font-weight: normal;
  }

  .windTable td{
    text-align: center;
  }

  * {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.chartCard {
  width: auto;
  margin: 25px;
      /*width: 100vw;
      height: calc(80pc - 40px);*/
      background: rgb(23, 255, 255);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .chartBox {
      /*width: auto;
      padding: 5pc;
      display: flex;*/
      border-radius: 25px;
      border: solid 3px rgb(12, 6, 193);
      background: white;
      /*margin-right: 2pc;
      margin-bottom: 20pc;
      justify-content: center;*/

    }





/*.chartCard {
  width: auto;
  height: 0px;
  background: rgb(23, 255, 255);

}

.chartBox {
  width: auto;
  padding: 5pc;
  border-radius: 25px;
  border: solid 3px rgb(12, 6, 193);
  background: white;
  margin: 0 auto;

  margin-top: 1.25pc;

}*/



.tide {
  color: #0c20d3;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: medium;
  margin-top: 2pc;
}










</style>


<div class="periodMenu">
  <div class="container">
    <center>
    
      <p>Crescent winds for the past:</p>


      <div class="btn-group" >
        <a href="/" class="btn btn-primary" >1 hour</a>
        <a href="graph_3hr" class="btn btn-primary">3 hours</a>
        <a href="graph_8hr" class="btn btn-primary active" aria-current="page">8 hours</a>
      </div>
    </center>
  </div>
</div>



    <div class="windTable">
      <div class="container">
        <table>
          <thead>
            <tr>
              <th>Avg</th>
              <th>Max</th>
              <th>Min</th>
              <th>Dir</th>
            </tr>
          </thead>
  
          <tbody>
            <tr>
              <td>{{past_hour_avg_wind_spd}}</td>
              <td>{{past_hour_avg_wind_max}}</td>
              <td>{{past_hour_avg_wind_min}}</td>
              <td>{{avg_wind_dir}}</td>
            </tr>
          </tbody>
        
  
  
        </table>
      </div>
    </div>

  </div>



  
  <div class="container">
      <center><div class="chartCard"></center>
        <div class="chartBox">
            <canvas id="myChart"></canvas>                
          </div>
      </div>
  </div>
  



  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.4.4/d3.min.js"
    integrity="sha512-hnFpvCiJ8Fr1lYLqcw6wLgFUOEZ89kWCkO+cEekwcWPIPKyknKV1eZmSSG3UxXfsSuf+z/SgmiYB1zFOg3l2UQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-trendline"></script>
  <script>

    // setup 
    const data = {
      /// code to take labels and values from flask app
      labels: {{ labels | safe }},
    datasets: [
      {
        label: "wind speeds",
        data: {{ values | safe }},


      backgroundColor: [
        'rgba(255, 26, 104, 1)',
      ],

      borderColor: [
        'rgba(255, 0, 0, 1)',
      ],

      borderWidth: 2,
      lineTension: 0.5,

      trendlineLinear: {
        style: "rgba(0,0,255,.6)",
        lineStyle: "dotted|solid",
        width: 2.5,
        projection: false
      },            
        }]
      };

    // config 
    const config = {
      type: 'line',
      data,
      options: {

        scales: {
          y: {
            beginAtZero: true,
            title: {
              display: true,
              text: 'Wind Speed in Knots'

            }
          }
        }
      }
    };

    // render init block
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
  </script>








    
  
</div>
{% endblock %}

  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>