{% extends "base.html" %}
{% block title %}Upwind Sports{% endblock %}
{% block content %}
<div class="container py-4">
  <div class="text-center mb-4">
    <img src="{{ url_for('static', filename='icons/upwinds_logo.jpg') }}" alt="Upwind Sports" class="img-fluid mb-3" style="max-height: 150px;">
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-9">
      <p class="fs-5">
        I started Upwind Sports in 2016 to help folks enjoy windsurfing in Bermuda.
      </p>
      <p class="fs-5">
        By 2019 we had discovered foiling, first through windsurf foiling, and soon after through wing foiling (or
        wing-dinging, as we like to call it). What began as curiosity quickly turned into an all-consuming pursuit.
        Foiling opened up a whole new range of conditions and fundamentally changed how we thought about wind, water,
        and time on the board. Being part of this shift has been an incredible adventure.
      </p>
      <p class="fs-5">
        During quieter periods, non-windy days, and especially through the COVID years, that same curiosity found a
        new outlet: wind data and web development. Our aim was simple and practical, to give local sailors, including
        ourselves, accurate, real-time wind and tide information to help choose the right gear and make the most of
        every session.
      </p>
      <p class="fs-5 mb-0">
        That effort has grown into a dedicated wind-information project for Bermuda. As of January 2026 after years
        of chasing down unreliable wind data sources on the island we have installed our very own station on Pearl
        Island. Now if it doesn't work we know who to call to get it back up and running again. Built for everyone in
        Bermuda who wants to know what the wind is doing, we hope you find it genuinely useful.
        <br><br>
        Jay Riihiluoma
      </p>
    </div>
  </div>
</div>
{% endblock %}
